.LoadingSpinner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.LoadingSpinner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
