# Owners of docs
*.md @iainmcampbell

# Owners of the generators
scripts/* @vividviolet @henrytao-me @alanthai @Fionoble @elanalynn @iainmcampbell

# Owners of the packages.
packages/argo-admin/* @vividviolet @henrytao-me @alanthai @Fionoble @elanalynn @iainmcampbell
packages/argo-admin-react/* @vividviolet @henrytao-me @alanthai @Fionoble @elanalynn @iainmcampbell
