node_modules
.sewing-kit
.DS_STORE
**/build
packages/*/*.esnext
packages/*/*.node
packages/*/*.mjs
packages/*/*.d.ts
packages/*/*.js
packages/*/bin
!packages/*/.eslintrc.js
*.log

packages/app-extension-playground/.next/*


# Built style type definitions
**/next-env.d.ts
**/.next

#TS output
packages/**/dist
dist
build

# Debug log from npm
npm-debug.log
**/npm-debug.log

# Debug log from lerna
lerna-debug.log

# Debug logs from yarn
**/yarn-error.log

# IntelliJ IDE ignore
.idea

tmp
**/test.log

tsconfig.tsbuildinfo
tsconfig.prod.tsbuildinfo

.build
