node_modules
.loom
.sewing-kit
.DS_STORE
**/build
packages/*/*.esnext
packages/*/*.node
packages/*/*.mjs
packages/*/*.d.ts
packages/*/*.js
packages/*/bin
!packages/*/.eslintrc.js
*.log
packages/ui-extensions/docs/**/generated

# IntelliJ IDE ignore
.idea

tsconfig.tsbuildinfo
