{
  "arrowParens": "always",
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "packages/ui-extensions/docs/**/*.example.*"
      ],
      "options": {
        "printWidth": 50
      }
    },
    {
      "files": [
        "packages/ui-extensions-tester/**/README.md"
      ],
      "options": {
        "printWidth": 50
      }
    }
  ]
}