.Header {
  border-bottom: 0.1rem solid var(--p-border-subdued, #dfe3e8);
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.AppOwnership {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.Icon {
  display: inherit;
  align-items: center;
}
.Icon span:first-child,
.Icon img {
  width: 3rem;
  height: auto;
}

.AppOwnershipDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.6rem;
}

.AppName,
.DeveloperInfo {
  display: inline-block;
}

.AppName {
  font-weight: 600;
  font-size: 1.6rem;
}

.DeveloperInfo {
  font-size: 1.4rem;
  margin-right: 3px;
}

.HeaderButton {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.HeaderButton:focus {
  outline: none;
}
.HeaderButton path {
  shape-rendering: geometricPrecision;
  fill: #212b36;
}
.HeaderButton:hover, .HeaderButton:active {
  color: #454F5B;
}
.HeaderButton:hover path, .HeaderButton:active path {
  fill: #637381;
  fill-rule: nonzero;
}
.HeaderButton:focus {
  box-shadow: inset 0 0 2px 0 rgba(92, 106, 196, 0.8), 0 0 2px 0 rgba(92, 106, 196, 0.8);
}
.HeaderButton .Content {
  font-size: 1.5rem;
  font-weight: var(--p-button-font-weight, 400);
  line-height: 1.6rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
}
@media (min-width: 40em) {
  .HeaderButton .Content {
    font-size: 1.4rem;
  }
}

.CloseButton {
  border-left: 1px solid #dfe3e8;
}
.CloseButton button {
  display: block;
  min-height: 3.6rem;
  padding: 2rem;
}
.CloseButton span {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
}