$focus-state-box-shadow-color: rgba(92, 106, 196, 0.8);
$min-height: control-height();

.Header {
  border-bottom: border();
  background: color('white');
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.AppOwnership {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: spacing(loose);
}

.Icon {
  display: inherit;
  align-items: center;

  span:first-child,
  img {
    width: rem(30px);
    height: auto;
  }
}

.AppOwnershipDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: spacing();
  height: rem(32px);
}

.AppName,
.DeveloperInfo {
  display: inherit;
  line-height: 100%;
}

.AppName {
  @include text-emphasis-strong;
  font-size: rem(16px);
  margin-top: -3px;
  margin-bottom: 3px;
}

.DeveloperInfo {
  font-size: rem(14px);
  margin-right: 3px;
}

.HeaderButton {
  @include unstyled-button;
  background: none;
  border: none;
  outline: none;

  path {
    shape-rendering: geometricPrecision;
    fill: color('ink');
  }

  &:hover,
  &:active {
    // stylelint-disable-next-line selector-max-specificity
    path {
      fill: color('ink', 'lighter');
      fill-rule: nonzero;
    }
  }

  &:focus {
    box-shadow: inset 0 0 2px 0 $focus-state-box-shadow-color,
    0 0 2px 0 $focus-state-box-shadow-color;
  }

  .Content {
    @include text-style-button;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1px;
    min-height: 1px;
  }
}

.CloseButton {
  border-left: 1px solid color('sky');

  button {
    display: block;
    min-height: $min-height;
    padding: spacing(loose);
  }

  span {
    display: block;
    width: rem(16px);
    height: rem(16px);
  }
}
