.Stage {
  border: 2px dotted rgba(255, 255, 255, 0);
  border-radius: 5px;
  margin: 1em 0;
  padding: 1em;

  &:hover, &.selected {
    border: 2px dotted #DFE3E8;
  }
  
  &.dragging {
    border-radius: 5px;
    background: #F4F6F8;
  }
}
