{
  "presets": [
    ["@babel/preset-env", {"targets": {"node": true}}],
    "@babel/preset-typescript"
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
