.star-rating-container {
  white-space: nowrap;

  .star-rating__star-piece{
    display: inline-block;

    .star-piece-position{
      position: absolute;

      .star-piece-size{
        overflow: hidden;

        .star-piece-icon {
          width: 20px;
        }
      }
    }
  }
}

span{
  &.star-rating-summary {
    display: inline-block;
    float: right;
    margin-top:-10px;
    font-size: 12px;
  }
}
