.BodyWrapper {
  display: flex;
  flex-grow: 1;
  border-radius: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.Body {
  width: 100%;
  padding-top: 2rem;
  padding-right: 2rem;
}

.Spinner {
  margin: spacing();
  text-align: center;
}
